:root {
  --color-primary-cream: hsl(30, 38%, 92%);
  --color-primary-cyan-dark: hsl(158, 36%, 37%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grayish-blue: hsl(228, 12%, 48%);
  --color-neutral-dark-blue: hsl(212, 21%, 14%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--color-primary-cream);
}

.preview-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preview-card {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-white);
  border-radius: 10px;
  overflow: hidden;
}

.preview-card img {
  display: block;
  width: 100%;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
