@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
  --color-primary-cream: hsl(30, 38%, 92%);
  --color-primary-cyan: hsl(158, 36%, 37%);
  --color-primary-cyan-dark: #1B4937;

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grayish-blue: hsl(228, 12%, 48%);
  --color-neutral-dark-blue: hsl(212, 21%, 14%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--color-primary-cream);
}
.preview-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preview-card {
  display: flex;
  max-width: 335px;
  background-color: var(--color-neutral-white);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
}

.preview-card img {
  width: 100%;
}

.preview-card h1 {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4em;
  color: var(--color-neutral-grayish-blue);
  flex-grow: 0;
}

.preview-card h2 {
  font-size: 1.75rem;
  font-family: 'Fraunces', serif;
  color: var(--color-neutral-dark-blue);
  flex-grow: 0;
}

.preview-card-content {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  gap: 0.9rem;
}

.preview-card-description {
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-neutral-grayish-blue);
  line-height: 1.4rem;
  flex-grow: 1;
}

.preview-card-price-container {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.preview-card-price {
  color: var(--color-primary-cyan);
  font-family: 'Fraunces', serif;
  font-size: 1.75rem;
  flex-grow: 0.15;
}

.preview-card-original-price {
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-neutral-grayish-blue);
  flex-grow: 0.85;
  text-decoration: line-through;
}

.preview-card button {
  background: var(--color-primary-cyan);
  color: var(--color-neutral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 1em;
  gap: 0.75em;
}

.preview-card button:hover {
  background: var(--color-primary-cyan-dark);
  cursor: pointer;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1250px) {
  .preview-card {
    max-width: 1500px;
    width: 40%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    margin: 0;
  }

  .preview-card img {
    width:50%;
    flex-basis: auto;
    flex-shrink: 0;
  }

  .preview-card-content {
    margin: 1.75em;
  }

  .preview-card-price-container {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}
